{% extends 'compliance/base.html' %}

{% block title %}Compliance Standards{% endblock %}

{% block content %}
    <h1 class="mb-4">Compliance Standards</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Standard Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th> <!-- New column for actions -->
            </tr>
        </thead>
        <tbody>
            {% for standard in standards %}
                <tr>
                    <td>{{ standard.name }}</td>
                    <td>{{ standard.description }}</td>
                    <td>
                        <a href="{% url 'edit_standard' standard.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'delete_standard' standard.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'add_standard' %}" class="btn btn-primary">Add New Standard</a>
{% endblock %}
